<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Students (<%= model %>)
        </title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/style.css">
        <script src="/students.js"></script>
    </head> 
    <body>
        <header>
            <img src="/EPF Logo + Baseline Negatif sans Fond.png" alt="EPF Logo" id="logo">
            <nav id="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/students">Students list (CSV)</a></li>
                    <li><a href="/students/create">Add a student (CSV)</a></li>
                    <li><a href="/students/data">Display some plots</a></li>
                    <li><a href="/students/from-db">Students list (MongoDB)</a></li>
                    <li><a href="/students/create-in-db">Add a student (MongoDB)</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Student list</h1> 
            <p class="long-text">
                Here is a list of students from <%= model %>. 
                <% if (model === 'CSV') { %>
                    You can click on a student name to go to his profile (where you can update each student).
                <% } %>
                You can also add a student by clicking on the button below. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis ullamcorper metus et maximus. Maecenas in magna ac felis finibus porta. Praesent tempus, tellus eu faucibus dapibus, orci eros imperdiet nisl, eget tempor urna arcu at felis. 
            </p>
            <% if (model === 'CSV') { %>
            <ul class="students"> 
            <% students.forEach(function(student, index) { %>
                <li class="students"><a href="/students/<%= index %>"><%= student.name %></a> | <%= student.school %></li> 
            <%})%> 
            </ul>
            <% } else if (model === 'MongoDB') { %>
            <ul class="students">
            <% students.forEach(function(student) { %>
                <li class="students"><%= student.name %> | <%= student.school %></li>
            <%})%>
            </ul>
            <% } %>
            <button id="create" data-model="<%= model %>">Click here to add a student</button>
        </main>
    </body>
</html>
